<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="../static/library.css">
</head>
<body>
    <h1>Uploaded Images</h1>
    <div class="button-container">
        <form action="/upload" enctype="multipart/form-data" method="post">
            <input name="file" type="file" accept="image/*" onchange="previewImage(event)">
            <input type="submit" value="Upload">
        </form>
        <button onclick="window.location.href='/'" class="index-button">Go Back</button>
    </div>
    <div id="gallery">
        {% for image in images %}
            <div class="gallery-item">
                <img src="{{ image[0] }}" alt="Image">
                <h3 class="image-name">{{ image[0].split('/')[-1].split('.')[0] }}</h3>
                <h3 class="image-name">{{ image[1] }}</h3>
            </div>
        {% endfor %}
    </div>
</body>
</html>
